@import "vendor/bootstrap/stylesheets/bootstrap";

// Colors
$primary-color: #4286f4;
$light-grey: #EEEEEE;
$med-grey: #DDDDDD;
$dark-grey: #8C8C8C;


body {
  padding: 8px;
  padding-top: 18px;
}

.brand {
  color: $primary-color;
  display: inline-block;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.1;
}

.close {
  font-size: 30px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

// Loading View
.loading-view__message {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
}

.error-view {
  height: 200px;
  padding-top: 20px;
  text-align: center;
  line-height: 200px;
}

.error-view__message {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
}

.loading-view__spinner {
  margin-top: -9px;
}


// meme listing
.meme-listing {
  padding-top: 30px;
}

.meme-listing__selected-row {
  background-color: #bbb;
  padding: 20px;
  padding-left: 0px;
  height: 400px;
  margin-bottom: 40px;
}

.meme-editor {

}

.meme-editor__view {
  height: 360px;      /* equals max image height */
  width: 360px;
  white-space: nowrap;
  text-align: center;
  margin: 0 auto;
}

.meme-editor__view__helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.meme-editor__view__image {
  vertical-align: middle;
  max-width: 360px;
  max-height: 360px;
}

.meme-listing__meme-tuple:after {
  margin-bottom: 40px;
}

.meme-listing-view {
  cursor: pointer;
}

.meme-listing-view__name {
  text-transform: lowercase;
  color: $dark-grey;
  text-align: center;
}

.meme-listing-view__meme {
  height: 225px;      /* equals max image height */
  width: 225px;

  white-space: nowrap;

  text-align: center;
  background-color: $light-grey;
  border-radius: 5px;
  border: 1px solid med-grey;
  margin: 0 auto;
}

.meme-listing-view__meme__helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.meme-listing-view__meme__img {
  vertical-align: middle;
  max-height: 200px;
  max-width: 200px;
}
