@import "variables";
@import "vendor/bootstrap/stylesheets/bootstrap";


body {
  padding: 8px;
  padding-top: 18px;
}

.branding {
  margin-bottom: 10px;
}

.brand {
  color: $primary-color;
  display: inline-block;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.1;
  font-family: $main-font;
}

.brand-sub {
  font-size: 10px;
  display: inline-block;
}

.close-btn {
  font-size: 30px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.form-group > label {
  color: $dark-grey;
  font-family: $main-font;
}

h3 {
  font-family: $main-font;
}

// Loading View
.loading-view__message {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
  font-family: $main-font;
}

.error-view {
  height: 200px;
  padding-top: 20px;
  text-align: center;
  line-height: 200px;
}

.error-view__message {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
}

.loading-view__spinner {
  margin-top: -9px;
}


// meme listing
.meme-listing {
  padding-top: 30px;
}

.meme-listing__selected-row {
  margin-bottom: 40px;
  min-height: 400px;
}

.meme-editor {
  padding: 10px 0px;
}

.meme-editor__view {
  height: 360px;      /* equals max image height */
  width: 360px;
  white-space: nowrap;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .meme-editor__view {
    height: 300px;      /* equals max image height */
    width: 300px;
  }
}

input.form-control {
  font-size: 16px;
}

.meme-editor__view__helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.meme-editor__view__image {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}

.meme-editor__view__updating {
  text-align: center;
}

.meme-editor__view__updating__text {
  font-family: $main-font;
  margin-top: -25px;
}


.meme-editor__actions {
  padding: 0 10px;
}

.meme-listing__meme-tuple:after {
  margin-bottom: 40px;
}

.meme-listing-view {
  cursor: pointer;
}

.meme-listing-view__name {
  text-transform: lowercase;
  color: $dark-grey;
  text-align: center;
  font-family: $main-font;
}

.meme-listing-view__meme {
  height: 225px;      /* equals max image height */
  width: 225px;
  white-space: nowrap;
  text-align: center;
  margin: 0 auto;
}

.meme-listing-view__meme__helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.meme-listing-view__meme__img {
  vertical-align: middle;
  max-height: 225px;
  max-width: 225px;
}
