body {
    padding: 8px;
}

h2.title {
    color: #4286f4;
}

.meme-template {
    height: 225px;      /* equals max image height */
    width: 225px;

    white-space: nowrap;

    text-align: center;
    background-color: #EEEEEE;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.meme-template img {
    background: #3A6F9A;
    vertical-align: middle;
    max-height: 200px;
    max-width: 200px;
}

.row:after {
    margin-bottom: 40px;
}

.initializing span {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
}

.initializing img {
    margin-top: -9px;
}
